<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PocketMed</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Hero2.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Navbar.css') }}"
    />
  </head>
  <body>
    <header class="header-container">
      <h1 class="header-title">POCKETMED</h1>
      <ul class="header-submenu">
        <li>Scan</li>
        <li>Chat</li>
        <li>Contact</li>
      </ul>
    </header>

    <main class="hero-container">
      <div class="input-container">
        <div id="imagePreviewContainer">
          <img id="imagePreview" src="{{img}}" alt="Image Preview" />
        </div>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" id="input" class="hidden" name="image" />
          <label for="input" class="input-label">Choose Another File</label>
          <input
            type="submit"
            value="Upload"
            id="input-submit"
            class="hidden"
          />
          <label for="input-submit" class="input-submit">Upload</label>
        </form>
      </div>
      <div class="output-container">
        <div class="output-diagnosis">
          <label for="" class="output-diagnosis-label">Diagnosis : </label>
          <div id="output-diagnosis-text">{{disease}}</div>
        </div>
        <div class="output-detail">
          <label for="" class="output-detail-label">Detail : </label>
          <div id="output-detail-text">
            {{details}}
            <a href="{{link}}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                id="output-detail-ref-box"
                viewBox="0 0 384 512"
              >
                <!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
